* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}

body,
body * {
  display: flex;
  justify-content: center;
}

section {
    flex-direction: column;
    align-self: center;
}
  
.title-area{
    text-align: center;
    margin: 1.5rem;
}

#year{
    display: inline-block;
    text-align: center;
}

.calendar{
    max-width: 50rem;
}

.calendar, .month {
    flex-wrap: wrap;
}

.month{
    align-items: flex-start;
    width:calc(1.5em * 7);
    padding: 1em;
    cursor: pointer;
}

.day {
    width: 1.5em;
    height: 1.5em;
    align-items: center;
    justify-content: center;
}

h4 {
    justify-content: center;
    flex: 1 0 100%;
    font-size: 1em;
    text-transform: uppercase;
    color: #f09;
}

.day:nth-of-type(7n),.day:nth-of-type(7n+1) {
    color: #f09;
}

.today{
    border-radius: 50%;
    background-color: aqua;
}

.form-control{
    display: block;
    width: 40%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}


@media(max-width:576px){
    .month{
        width:calc(2.5em * 7);
    }
    .day {
        width: 2.5em;
        height: 2.5em;
    }
}